<h1> test </h1>

<form action="/insert_note" method="post">
  <div>
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name">
  </div>

  <div>
    <label for="dob">
      Dob
    </label>

    <input type="date" id="dob" name="dob">
  </div>

  <div>
    <label for="bio">
      Bio
    </label>

    <textarea id="bio" name="bio" rows="3"></textarea>
  </div>

  <div>
    <label for="image">
      Image
    </label>

    <input type="text" id="image" name="image">
  </div>

  <button>
    Create actor
  </button>
</form>
